/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.directions__item {
    .item-tile-srv {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: none;
    }
    &.active {
        .item-tile-srv {
            display: block;
        }
    }
}
.item-tile-srv {
    line-height: 1.8;
    position: relative;
    z-index: 2;
    background-color: #fff;
    color: var(--clr-base);
    text-align: left;
    display: block;
    overflow: hidden;
    .tile-photo-wrap {
        display: block;
    }
    .tile-info-wrap {
        display: block;
        padding: 3rem 5rem 5rem 5rem;
    }
    .tile-photo {
        &:before {
            padding-top: 45%;
        }
    }
    .tile-title {
        font-size: 2em;
        line-height: (46/36);
        text-transform: uppercase;
        color: var(--clr-light);
        display: block;
        padding: 0;
        margin: 0 0 15px 0;
        letter-spacing: 1.8px;
    }
    .ico-close {
        z-index: 3;
        position: absolute;
        top: 3px;
        right: 3px;
        display: none;
    }
}
.item-tile-product {
    display: flex;
    color: var(--clr-base);
    font-size: (17/18em);
    line-height: (26/17);
    min-height: 100%;
    &:hover {
        color: var(--clr-base);
    }
    .tile-photo-wrap {
        width: 59%;
        flex-shrink: 0;
        display: block;
        position: relative;
    }
    .tile-info-inner {
        display: block;
        position: relative;
        min-height: 33.5rem;
        padding: 4.7rem 3rem 3rem 3rem;
        background-color: #F9F9F9;
        margin: 0 0 0 -15rem;
        flex: 1;
    }
    .tile-info-wrap {
        width: 41%;
        flex-shrink: 0;
        position: relative;
        z-index: 2;
        padding: 4rem 0;
        display: flex;
        flex-direction: column;
    }
    .tile-info {
        display: block;
        position: relative;
        padding: 0 0 0 47px;
        margin: 0 0 20px 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .tile-desc {
        display: block;
        position: relative;
        margin-bottom: 15px;
        padding: 0 0 0 45px;
        &:last-child {
            margin-bottom: 0;
        }
        .tile-ico {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -15px;
        }
    }
    .tile-ico {
        width: 24px;
        height: 24px;
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -12px;
    }
    .tile-photo {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .tile-title.title {
        font-size: (30/17em);
        line-height: 1.2;
        margin: 0 0 24px 0;
    }
}
.item-tile-doc {
    display: inline-flex;
    align-items: center;
    color: var(--clr-base);
    &:hover {
        color: var(--clr-base);
        .tile-title {
            border-bottom: none;
        }
    }
    .tile-ico {
        width: 6.5rem;
        height: 6.5rem;
        flex-shrink: 0;
    }
    .tile-title-wrap {
        display: block;
        flex: 1;
        padding: 0 0 0 15px;
    }
    .tile-title {
        display: inline;
        border-bottom: 1px solid;
        margin: 0 10px 0 0;
    }
    .tile-info {
        display: inline;
        font-size: 13px;
        color: var(--clr-light);
    }
}
.item-tile-type {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    min-height: 57rem;
    color: #fff;
    text-align: left;
    &:hover {
        color: #fff;
        &:before {
            background: rgba(9, 14, 13, 0.7);
        }
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(9, 14, 13, 0.8);
        transition: all ease 0.2s;
        z-index: 1;
    }
    .tile-info-wrap {
        display: block;
        width: 100%;
        flex-shrink: 0;
        padding: 7rem;
        position: relative;
        z-index: 2;
    }
    .tile-text {
        display: block;
        max-width: (500/18em);
    }
    .tile-title.title {
        display: block;
        font-size: (72/18em);
        line-height: (74/72);
        margin: 0 0 15px 0;
    }
}
.elm-photo, .tile-photo {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    line-height: 1;
    transform: translateZ(0);
    &.photo-main {
        border: 1px solid #f00;
        width: 300px;
        height: 300px;
    }
    &:before {
        content: "";
        display: none;
        padding-top: 100%;
    }
    img {
        display: block;
        position: relative;
        width: 100%;
    }
    &.photo-cover {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &.photo-contain {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }
}
.elm-price, .tile-price {
    white-space: nowrap;
    &.price-old {
        text-decoration: line-through;
    }
}
.elm-ico, .button-ico, .menu-ico, .frm-ico, .tab-ico, .tile-ico {
    display: block;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    img, [class*="icon-"], .i, svg {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
}
.elm-overlay {
    display: none;
    animation: fadein ease 0.2s;
    background: fade(#000, 80);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 120;
    &.active {
        display: block;
    }
}
@media (max-width: 1599px) {
    .item-tile-type {
        font-size: 16px;
    }
}
@media (max-width: 1399px) {
    .item-tile-type {
        .tile-title.title {
            font-size: (60/18em);
        }
    }
}
@media (max-width: 1199px) {
    .item-tile-srv {
        font-size: 16px;
        .tile-info-wrap {
            padding: 3rem;
        }
        .tile-title {
            font-size: 1.5em;
        }
    }
    .item-tile-type {
        .tile-info-wrap {
            padding: 4rem;
        }
        .tile-title.title {
            font-size: (50/18em);
        }
    }
}
@media (max-width: 919px) {
    .item-tile-srv {
        font-size: 14px;
        line-height: (18/14);
        .ico-close {
            display: block;
        }
        .tile-info-wrap {
            padding: 15px;
        }
        .tile-title {
            font-size: 24px;
            line-height: 1.25;
            text-transform: none;
            letter-spacing: normal;
            margin-bottom: 15px;
        }
    }
    .item-tile-type {
        font-size: 14px;
        line-height: (18/14);
        min-height: 0;
        .tile-info-wrap {
            padding: 20px 15px;
        }
        .tile-title.title {
            font-size: 30px;
            line-height: 1.2;
            margin-bottom: 15px;
        }
    }
}
@media (max-width: 639px) {
    .directions__item {
        .item-tile-srv {
            width: 200%;
        }
        &:nth-child(2n) {
            .item-tile-srv {
                left: auto;
                right: 0;
            }
        }
    }
    
}
@media (max-width: 479px) {
    .item-tile-product {
        display: block;
        font-size: 17px;
        .tile-photo-wrap {
            width: 100%;
        }
        .tile-info-wrap {
            padding: 10px 0 0 0;
            display: block;
            width: 100%;
        }
        .tile-info-inner {
            margin: 0;
            width: 100%;
            min-height: 0;
            padding: 34px 15px 44px 15px;
        }
        .tile-photo {
            position: relative;
            height: 332px;
        }
        .tile-title.title {
            font-size: 30px;
            margin-bottom: 30px;
        }
    }
}
@media (min-width: 480px) {
    .item-tile-product {
        align-items: flex-start;
        .tile-photo-wrap {
            height: 41.5rem;
        }
        .tile-info-wrap {
            padding-bottom: 0;
        }
    }
}
@media (min-width: 920px) {
}
@media (min-width: 1400px) {
}
