<footer class="footer">
	<div class="footer__top">
		<div class="container">
			<div class="footer__title">Подпишись на нашу рассылку, чтобы первым узнавать о выгодных предложениях</div>
			<div class="footer__title footer__title--mini">Узнавай первым о выгодных предложениях и новостях</div>
			<div id="sendexForm">
				<form method="post" id="sendexForm_form_subscribe" class="footer__form ajax_form">
					<input type="hidden" name="address">
					<input class="footer__input" type="email" name="email" value="" placeholder="Введите email">
					<button class="footer__button" type="submit"></button>
					
					<input type="hidden" name="af_action" value="2b1524c86df1b7944766e54b4b9f5c0e">
				</form>            	            </div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="container">
			<div class="footer__inner">
				<a class="footer__logo" href="https://sequoia.holdings/">
					<img src="./index_files/logo-footer.svg" alt="">
				</a>
				<div class="footer__col">
					<address class="footer__line footer__address"></address>
					<a class="footer__line footer__email" href="mailto:info@sequoia.holdings">info@sequoia.holdings</a>
					<a class="footer__line footer__phone" href="tel:88003014181">8 800 301 4181</a>
				</div>
				<div class="footer__col">
					<div class="footer__line footer__copy">Seqoia.holdings, 2023</div>
					<a class="footer__line footer__privacy" href="https://sequoia.holdings/politika-konfidenczialnosti.html">Политика конфиденциальности</a>
					<a title="Создание сайтов в Рязани, Москве - АБВ сайт" target="_blank" class="footer__line footer__author" href="https://www.abcwww.ru/">Создание сайта — «АБВ сайт»</a>
				</div>
			</div>
		</div>
	</div>
</footer>    