<header class="header">
	<div class="container">
		<div class="header__inner">
			<a class="header__logo" href="https://sequoia.holdings/">
				<img src="./index_files/logo.svg" alt="">
			</a>
			<nav class="menu">
				<button class="menu__btn" type="button">
					<span class="menu__btn-line"></span>
				</button>
				<ul class="menu__list">
					<li class="menu__item"><a class="menu__link" href="https://sequoia.holdings/o-kompanii.html">О компании</a></li><li class="menu__item"><a class="menu__link" href="https://sequoia.holdings/napravleniya/">Направления</a></li><li class="menu__item"><a class="menu__link" href="https://sequoia.holdings/proektyi/">Проекты</a></li><li class="menu__item"><a class="menu__link" href="https://sequoia.holdings/novosti/">Новости</a></li><li class="menu__item"><a class="menu__link" href="https://sequoia.holdings/kontaktyi.html">Контакты</a></li>                    <li class="menu__info menu__info-address">
					<address class="menu__info-line"></address>
				</li>
					<li class="menu__info menu__info-email">
						<a class="menu__info-line" href="mailto:info@sequoia.holdings">info@sequoia.holdings</a>
					</li>
					<li class="menu__info menu__info-phone">
						<a class="menu__info-line" href="tel:88003014181">8 800 301 4181</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>    