<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<base href="https://sequoia.holdings/">-->
	<base href=".">
	<title>Главная - sequoia.holdings</title>    <meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="https://sequoia.holdings/assets/templates/site/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="./index_files/libs.min.css">
	<link rel="stylesheet" href="./index_files/style.min.css">
	<link rel="stylesheet" href="./index_files/addstyle.css">
	<link rel="stylesheet" href="./index_files/jquery.fancybox.min.css">
	<link rel="stylesheet" href="./index_files/default.css" type="text/css">
	
	
	<link rel="stylesheet" href="./css/slick.css">
	<link rel="stylesheet" href="./css/style.css">

</head>