<script async="" src="./index_files/tag.js"></script><script src="./index_files/jquery.min.js"></script>
<script src="./index_files/libs.min.js"></script>
<script src="./index_files/jquery.fancybox.min.js"></script>
<script src="./index_files/main.js"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(m,e,t,r,i,k,a) { m[i]=m[i]||function() { (m[i].a=m[i].a||[]).push(arguments) } ;
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a) } )
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(73589386, "init",  {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
    } );
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/73589386" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter --><script type="text/javascript" src="./index_files/default.js"></script>
<script type="text/javascript">AjaxForm.initialize({"assetsUrl":"\/assets\/components\/ajaxform\/","actionUrl":"\/assets\/components\/ajaxform\/action.php","closeMessage":"\u0437\u0430\u043a\u0440\u044b\u0442\u044c \u0432\u0441\u0435","formSelector":"form.ajax_form","pageId":1});</script><script src="./index_files/jquery.form.min.js"></script><script src="./index_files/jquery.jgrowl.min.js"></script>

<script src="./js/slick.min.js"></script>
<script src="./js/scripts.js"></script>-->

<!--
<script src="./js/jquery.min.js"></script>
<script src="./js/jquery.swipebox.min.js"></script>
<script src="./js/jquery.maskedinput.min.js"></script>
